body{font-size:12px;}
div{text-align:left;vertical-align:top;}
a{text-decoration:none;}
hr{border:0.5px solid #000;}
.functions{padding:10px;}
ul.function{list-style:none;}
ul.function>li{display:inline-block; width:20%;}
ul.function img{height:50px;}
.area{border-bottom:1px solid #ccc; margin-bottom:5px; padding-bottom:5px;}
.copyright{margin-top:5px;border-top:1px solid #ccc;text-align:right;}
