body{overflow:hidden;font-size:14px;}
div{text-align:left;vertical-align:top;}
a{text-decoration:none;}
ul.inlinelayout{list-style:none;}
ul.inlinelayout>li{float:left;display:inline-block;}

#copyright{text-align:center;padding:2px;border-bottom:1px solid lightblue;}
#banner{border-bottom:1px solid lightblue;}
#menuarea{border-right:1px solid lightblue;width:250px;display:none;}
#viewarea{}

#shrinkline{width:10px;background:#EBEFF9;cursor:pointer;}
#shrinkline:hover{background:#C2CFF1;}
#topshrinkline{height:8px;background:#EBEFF9;cursor:pointer;}
#topshrinkline:hover{background:#C2CFF1;}

#viewcontainer{overflow-y:scroll;}
#outputmsg{background:#F7B64A;color:red;position:absolute;left:300px;}
#lang{float:right;}
#viewSubject{padding:2px;font-size:24px;height:30px;font-weight:bold;border-bottom:1px solid lightblue; clear:both;}

#listHeader{background:#C2CFF1;}
#tags{display:inline;}
.tags{}
.tags>a{margin:0;padding:0 5px 0 5px; display:inline-table;background:#C2CFF1; cursor:pointer;}
.tags>a:hover{background:#EBEFF9;}
.tags .selected{background:#EBEFF9;}

ul.textlist{}
ul.textlist>li{padding:2px;border-bottom:1px dashed lightblue;color: #339;}
ul.textlist>li:before{content: "\00BB\0020";}

.title{padding:2px;}

